@model IEnumerable<NewsViewModel>

@foreach (var news in Model)
{
           <a asp-controller="News" asp-action="NewsInformation" asp-route-id="@news.Id">
                <div class="card" style="width: 18rem;">
              <img src="@news.ImageUrl" class="card-img-top" alt="News image">
              <div class="card-body">
                <h5 class="card-title">@news.Title</h5>
              </div>
            </div>
            </a>
}