@model IEnumerable<ForumTopicViewModel>

@if (!Model.Any())
{
	<h2 class="text-center">You are not following any topics yet.</h2>
}
else
{
    @foreach (var topic in Model)
    {
        <div class="card text-center">
            <div class="card-header">
                @topic.Creator
            </div>
            <a asp-controller="Forum" asp-action="TopicDetails" asp-route-id="@topic.Id">
                <div class="card-body">
                    <h5 class="card-title">@topic.Title</h5>
                </div>
            </a>
            <div class="card-footer text-body-secondary">
                @topic.CreatedOn
            </div>
        </div>
    }
}